.esqcima{
    background-color: red;
    width: 100px;
    height: 100px;
}
.esqbaixo{
    background-color: green;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0px;
}
.dircima{
    background-color: blue;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.dirbaixo{
    background-color: yellow;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}